.cardContainer {
    perspective: 1000px;
}

.card {
    width: 10vw;
    max-width: 2.3rem;
    min-width: 2.3rem;
    height: 5rem;
    transform-style: preserve-3d;
    transition: transform 0.6s;
    cursor: pointer;
    border-radius: 10px;
}
.card.flipped {
    transform: rotateY(180deg);
}

.front,
.back {
    width: 100%;
    height: 100%;
    position: absolute;
    backface-visibility: hidden;
    display: flex;
    align-items: center;
    justify-content: center;
    border-radius: 10px;
}

.front {
    background-color: #7f8c8d;
    color: white;
    box-shadow: 0 0 5px 2px green;
}

.back {
    background-color: #302f2f;
    transform: rotateY(180deg);
    box-shadow: 0 0 5px 2px red;
}

@media (max-width: 768px) {
    .card {
        width: 8vw;
        min-width: 35px;
    }
}

@media (max-width: 480px) {
    .card {
        width: 6vw;
        min-width: 30px;
    }
}
