.starRating {
    position: relative;
    font-size: 24px;
    display: flex;
    align-items: center;
    height: 24px;
}

.starsBackground,
.starsForeground {
    display: flex;
    position: absolute;
    top: 0;
    left: 0;
}

.starsForeground {
    overflow: hidden;
    white-space: nowrap;
    transition: width 0.5s ease-in-out;
}

.star {
    color: #ccc;
}

.starsForeground .star {
    color: gold;
}
